/* Makes the "Trends for you" column less prominent */
div[data-testid="sidebarColumn"] {
  margin-left: 8rem;
  opacity: 0.3;
}

/* Removes the "Who to follow" and copyright etc. info */
div[data-testid="sidebarColumn"] div:nth-child(n + 4) {
  display: none;
}

/* Make the navigation tabs on the left less prominent */
header[role="banner"] {
  opacity: 0.3;
}

/* Removes the special font color from hashtags */
a[href^="/hashtag"] {
  color: rgb(255, 255, 255) !important;
}
